#editor {
	min-width : 500px;
	width : 100%;
}

#editor-bar {
	height : 20px;
	margin-bottom : 5px;
}

#markdown-editor {
	min-height : 200px;
	min-width : 500px;
	width : 700px;
}

#result {
	min-height : 200px;
	min-width : 500px;
}